@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

/* Tailwind */
.base-bg {
	@apply bg-[#2871FF];
}
.base-text {
	@apply text-[#2871FF];
}

.title-h1 {
	@apply text-3xl font-semibold;
}

.input-field {
	@apply px-3 py-2 rounded-lg bg-gray-100 outline-none text-black;
}

.btn {
	@apply px-3 py-1 rounded-lg base-bg text-white hover:opacity-70 transition-opacity;
}
.text-btn {
	@apply hover:opacity-70 transition-opacity cursor-pointer;
}

/* Css */
.overflow-no-width::-webkit-scrollbar {
	width: 0px;
}
.overflow-no-height::-webkit-scrollbar {
	height: 0px;
}

.overflow-with-width::-webkit-scrollbar {
	width: 5px;
}
.overflow-with-width::-webkit-scrollbar-thumb {
	background-color: #dfdfdf;
	border-radius: 100px;
}
