@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

/* Tailwind */
.base-bg {
	@apply bg-[#2871FF];
}
.flash-card-bg {
	@apply bg-[#2870ff];
}
.quiz-bg {
	@apply bg-[#ff4545];
}
.note-bg {
	@apply bg-[#c252ff];
}
.flash-card-bg-opacity {
	@apply bg-[#2870ff9a];
}
.quiz-bg-opacity {
	@apply bg-[#ff454593];
}
.note-bg-opacity {
	@apply bg-[#c252ff92];
}

.base-text {
	@apply text-[#2871FF];
}

.title-h1 {
	@apply text-3xl font-semibold;
}

.input-field {
	@apply px-3 py-1.5 rounded-lg bg-gray-100 outline-none text-black;
}

.btn {
	@apply px-3 py-1 rounded-lg base-bg text-white hover:opacity-70 transition-opacity;
}
.text-btn {
	@apply hover:opacity-70 transition-opacity cursor-pointer;
}

.passive-btn {
	@apply px-3 py-1 rounded-lg !text-[#2871FF] !bg-transparent border border-[#2871FF] hover:opacity-70;
}

/* Css */
.overflow-no-width::-webkit-scrollbar {
	width: 0px;
}

.overflow-no-height::-webkit-scrollbar {
	height: 0px;
}

.overflow-with-width::-webkit-scrollbar {
	width: 5px;
}
.overflow-with-width::-webkit-scrollbar-thumb {
	background-color: #dfdfdf;
	border-radius: 100px;
}

.overflow-with-width-secondary::-webkit-scrollbar {
	width: 5px;
}
.overflow-with-width-secondary::-webkit-scrollbar-thumb {
	background-color: #dfdfdf;
	border-radius: 100px;
}

.overflow-with-height::-webkit-scrollbar {
	height: 5px;
}
.overflow-with-height::-webkit-scrollbar-thumb {
	background-color: #dfdfdf;
	border-radius: 100px;
}

.modified-overflow-with-height::-webkit-scrollbar {
	@apply h-[5px] sm:h-0;
}
.modified-overflow-with-height::-webkit-scrollbar-thumb {
	@apply bg-[#dfdfdf] rounded-3xl;
}

.question-n-answers-container {
	scroll-snap-type: x mandatory;
}
.question-n-answers-child {
	scroll-snap-align: center;
}

.question-n-answers-quiz-container {
	scroll-snap-type: y mandatory;
}
.question-n-answers-quiz-child {
	scroll-snap-align: center;
}
